@model MAP.Inventory.Model.CustomerModel
@{
    ViewBag.Title = "Products";


    string json = Newtonsoft.Json.JsonConvert.SerializeObject(Model);
}




<form role="search" id="frmCustomer" class="cmxform">

    @if (Model.CustomerId > 0)
    {
        <div class="row-fluid heading">
            <div class="span12">
                <h2 class="pull-left">Edit Customer</h2>
                <div class="pull-right">
                    <a id="btnSave" class="btn btn-default">Save</a>
                    <a id="btnClear" class="btn btn-default">Clear</a>
                    <a id="btnBack" class="btn btn-default">Back to Documents</a>
                </div>
            </div>
        </div>
    }
    else
    {
        <div class="row-fluid heading">
            <div class="span12">
                <h2 class="pull-left">Add Customer</h2>
                <div class="pull-right">
                    <a id="btnSave" class="btn btn-default">Save</a>
                    <a id="btnClear" class="btn btn-default">Clear</a>
                    <a id="btnBack" class="btn btn-default">Back to Documents</a>
                </div>
            </div>
        </div>

    }

    @Html.HiddenFor(m => m.CustomerId)

    <div class="row-fluid">
        <div class="span12">
            @if (Model.IsCustomer || (Model.CustomerId == 0))
            {

                <label class="uni-radio radio inline">
                    <input type="radio" checked="checked" value="1" id="chkCustomer" name="uni_r" class="uni_style" />
                    Customer
                </label>
                <label class="uni-radio radio inline">
                    <input type="radio" value="0" id="chkVendor" name="uni_r" class="uni_style" />
                    Vendor
                </label>
            }
            else if (!Model.IsCustomer)
            {
                <label class="uni-radio radio inline">
                    <input type="radio" value="1" id="chkCustomer" name="uni_r" class="uni_style" />
                    Customer
                </label>
                <label class="uni-radio radio inline">
                    <input type="radio" checked="checked" value="0" id="chkVendor" name="uni_r" class="uni_style" />
                    Vendor
                </label>
            }

        </div>
    </div>

    <div class="row-fluid" style="padding-top:20px;">
        <div class="span6">
            <label for="txtFirstName">First Name</label>
            <input type="text" class="span6 form-control mousetrap" name="txtFirstName" id="txtFirstName" placeholder="First Name" value="@Model.FirstName">
        </div>
        <div class="span6">
            <label for="txtLastName">Last Name</label>
            <input type="text" class="span6 form-control mousetrap" name="txtLastName" id="txtLastName" placeholder="Last Name" value="@Model.LastName">
        </div>
    </div>

    <div class="row-fluid">
        <div class="span6">
            <label for="txtEmailId">Email Id</label>
            <input type="text" class="span6 form-control mousetrap" name="txtEmailId" id="txtEmailId" placeholder="Email Id" value="@Model.EmailId">
        </div>
        <div class="span6">
            <label for="txtMobileNo">Mobile No</label>
            <input type="text" class="span6 form-control mousetrap" name="txtMobileNo" id="txtMobileNo" placeholder="Mobile No" value="@(Model.MobileNo==0? "" : Model.MobileNo.ToString())">
        </div>
    </div>

    <div class="tabbable tabbable-bordered">
        <ul class="nav nav-tabs">
            <li class="active"><a href="#tab_br1" data-toggle="tab">Address Details</a></li>
            <li><a href="#tab_br2" data-toggle="tab">Identity Details</a></li>
            <li><a href="#tab_br3" data-toggle="tab">Additional Fields</a></li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane active" id="tab_br1">
                <div class="row-fluid">
                    <div class="span6">
                        <label>Address</label>
                        <textarea name="txtAddress" id="txtAddress" rows="4" cols="40" class="span6" placeholder="Add Door No, Street, LandMark" value="@Model.Address"></textarea>
                    </div>
                    <div class="span6">
                        <label>Phone No</label>
                        <input type="text" class="span6 form-control mousetrap" name="txtPhoneNo" id="txtPhoneNo" value="@Model.PhoneNo">
                    </div>
                </div>
                <div class="row-fluid">
                    <div class="span6">
                        <label>City</label>
                        <input type="text" class="span6 form-control mousetrap" name="txtCity" id="txtCity" placeholder="City" value="@Model.City">
                    </div>
                    <div class="span6">
                        <label>Pincode</label>
                        <input type="text" class="span6 form-control mousetrap" name="txtPincode" id="txtPincode" value="@(Model.PinCode==0? "" : Model.PinCode.ToString())">
                    </div>
                </div>
            </div>
            <div class="tab-pane" id="tab_br2">

                <div class="row-fluid">
                    <div class="span6">
                        <label for="txtAdharNumber">Adhar Number</label>
                        <input type="text" class="span6 form-control mousetrap" name="txtAdharNumber" id="txtAdharNumber" placeholder="Adhar Number" value="@Model.AdharNumber">
                    </div>
                    <div class="span6">
                        <label for="txtLastName">PAN Number</label>
                        <input type="text" class="span6 form-control mousetrap" name="txtPANNumber" id="txtPANNumber" placeholder="PAN Number" value="@Model.PAN">
                    </div>
                </div>

                <div class="row-fluid">
                    <div class="span6">
                        <label for="txtEmailId">GSTIN</label>
                        <input type="text" class="span6 form-control mousetrap" name="txtGSTIN" id="txtGSTIN" placeholder="GSTIN" value="@Model.GSTIN">
                    </div>

                </div>


            </div>
            <div class="tab-pane" id="tab_br3">
                <div class="row-fluid">
                    <div class="span6">
                        <label for="txtAdharNumber">Extra 1</label>
                        <input type="text" class="span6 form-control mousetrap" name="txtExtra1" id="txtExtra1" placeholder="Extra Field" value="@Model.Extra1">
                    </div>
                    <div class="span6">
                        <label for="txtAdharNumber">Extra 2</label>
                        <input type="text" class="span6 form-control mousetrap" name="txtExtra2" id="txtExtra2" placeholder="Extra Field" value="@Model.Extra2">
                    </div>
                </div>

                <div class="row-fluid">
                    <div class="span6">
                        <label for="txtAdharNumber">Extra 3</label>
                        <input type="text" class="span6 form-control mousetrap" name="txtExtra3" id="txtExtra3" placeholder="Extra Field" value="@Model.Extra3">
                    </div>
                    <div class="span6">
                        <label for="txtAdharNumber">Extra 4</label>
                        <input type="text" class="span6 form-control mousetrap" name="txtExtra4" id="txtExtra4" placeholder="Extra Field" value="@Model.Extra4">
                    </div>
                </div>

                <div class="row-fluid">
                    <div class="span6">
                        <label for="txtAdharNumber">Extra 5</label>
                        <input type="text" class="span6 form-control mousetrap" name="txtExtra5" id="txtExtra5" placeholder="Extra Field" value="@Model.Extra5">
                    </div>
                </div>

            </div>
        </div>
    </div>

</form>



<script type="text/javascript">


    $(function () {
        var staticModel = { "CustomerId": 0, "FirstName": "", "LastName": "", "IsCustomer": false, "EmailId": "", "MobileNo": 0, "PhoneNo": "", "PAN": "", "GSTIN": "", "AdharNumber": "", "Address": "", "City": "", "PinCode": 0, "Notes": "", "Extra1": "", "Extra2": "", "Extra3": "", "Extra4": "", "Extra5": "" };
        var model = {};
        $.extend(true, model, staticModel);

        //// check box styles
        //$(".uni_style").uniform();

        // mandate filds for customer screen
        $("#frmCustomer").validate({
            rules: {
                txtFirstName: "required",
                txtMobileNo: "required"
            },
            messages: {
                txtFirstName: "please enter customer name",
                txtMobileNo: "please enter Mobile No"

            }
        });


        var getModelData = function () {

            model.CustomerId = $("#CustomerId").val().trim();
            model.FirstName = $("#txtFirstName").val().trim();
            model.LastName = $("#txtLastName").val().trim();
            model.IsCustomer = $("input[name='uni_r']:checked").val() == "1" ? true : false;
            model.EmailId = $("#txtEmailId").val().trim();
            model.MobileNo = $("#txtMobileNo").val().trim();

            model.PhoneNo = $("#txtPhoneNo").val().trim();
            model.PAN = $("#txtPANNumber").val().trim();
            model.GSTIN = $("#txtGSTIN").val().trim();
            model.AdharNumber = $("#txtAdharNumber").val().trim();
            model.Address = $("#txtAddress").val().trim();
            model.City = $("#txtCity").val().trim();
            model.PinCode = $("#txtPincode").val().trim();


            model.Extra1 = $("#txtExtra1").val().trim();
            model.Extra2 = $("#txtExtra2").val().trim();
            model.Extra3 = $("#txtExtra3").val().trim();
            model.Extra4 = $("#txtExtra4").val().trim();
            model.Extra5 = $("#txtExtra5").val().trim();

            return JSON.stringify(model);
        }

        var _saveCustomer = function () {
            if ($("#frmCustomer").valid()) {
                $.ajax({
                    url: '/Masters/SaveCustomer',
                    type: 'post',
                    data: { "Data": getModelData() },
                    beforeSend: function () {
                        $("#ajaxLoadingImg").show();

                    },
                    complete: function () { $("#ajaxLoadingImg").hide(); },
                    success: function (data) {
                        if (data > 0) {
                            if ($("#CustomerId").val() > 0)
                                customAlert('Updated Successfully', 'alert', function () { $("#txtCode").focus(); });
                            else
                                customAlert('Created Successfully', 'alert', function () { $("#txtCode").focus(); });
                            _clearContorls();
                        }
                        else {
                            customAlert('Error occured', 'alert');
                        }
                    },

                    error: function (e) { customAlert('Error occured', 'alert'); }
                });
            }
        };

        $("#btnSave").on("click", function (e) {
            e.preventDefault();
            _saveCustomer();
        });

        var _clearContorls = function () {

            $.extend(true, model, staticModel);
            $("input[name='uni_r']").removeAttr("checked");
            $("#chkCustomer").attr("checked", "checked");
            
            $("#CustomerId").val('0');
            $("#txtFirstName").val('');
            $("#txtLastName").val('');
            $("#txtEmailId").val('');
            $("#txtMobileNo").val('');
             

            $("#txtAddress").val('');
            $("#txtPhoneNo").val('');
            $("#txtCity").val(''); 
            $("#txtPincode").val('');

            $("#txtPANNumber").val('');
            $("#txtGSTIN").val('');
            $("#txtAdharNumber").val('');
             
            $("#txtExtra1").val('');
            $("#txtExtra2").val('');
            $("#txtExtra3").val('');
            $("#txtExtra4").val('');
            $("#txtExtra5").val('');

        };

        $("#btnClear").on("click", function (e) {
            e.preventDefault();
            _clearContorls();
        });
 
        Mousetrap.bind(['ctrl+s', 'command+s'], function (e) {
            e.preventDefault();
            _saveProducts();
        });

        Mousetrap.bind(['ctrl+h', 'command+h'], function (e) {
            e.preventDefault();
            window.location.href = '@Url.Action("Index", "Home")';
        });

        Mousetrap.bind(['ctrl+backspace', 'command+backspace'], function (e) {
            e.preventDefault();
            window.location.href = '@Url.Action("CustomersList", "Masters")';
        });

        Mousetrap.bind(['ctrl+r', 'command+r'], function (e) {
            e.preventDefault();
            _clearContorls();
        });

    });

</script>

